body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
.bananaDancer{
  background-image: url('img/banana-dancer-still.png');
  height: 100px;
  width: 100px;
  background-size: 100% 100%;
}
.blinkyDancer{
  border:10px solid red;
  border-radius:10px;
}

.dancefloor {
  clear:both;
  position: relative;
  margin: auto;
  top: 25%;
  width: 50%;
  height: 50%;
}

.danceFloorTile {
  float: left;
  width: 14.28%;
  height: 12.5%;
  padding: 0px;

}

@keyframes danceFloorTileAnimation {
  0% {
    background-color: #001F3F;
  }
  25% {
    background-color: #C3FF7B;
  }
  40% {
    background-color: #E80F56;
  }
  50% {
    background-color: #49E8D3;
  }
  75% {
    background-color: #FFA426;
  }
  100% {
    background-color: #001F3F;
  }
}
